<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="author" content="Dale Foshe">

    <title>@ViewData["Title"] - Durham Wedding Photography</title>

    <link rel="alternate" href="@ViewData["URL"]" hreflang="en-us" />

    <!-- Favicons -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png">



    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/css/mdb.css" rel="stylesheet" />



    <link rel="stylesheet" href="~/css/site.css" />

    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script src="~/js/infinite-scroll.pkgd.min.js"></script>
    <script src="~/js/masonry.pkgd.min.js"></script>


    <!-- ekko Lightbox-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/1.13.0/simple-lightbox.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/1.13.0/simplelightbox.min.css" />
    

    <!-- Facebook tags-->

    @if (ViewData["ChallengePage"] != null)
    {
        <meta property="og:url" content="@ViewData["URL"]" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="52 Week Photography Challenge by Dogwood Photography" />
        <meta property="og:description" content="Take your photography to the next level with this 52 week photography challenge." />
        <meta property="og:image" content="http://dogwood.photography/images/raleigh-durham-wedding-photography-header-1.jpg" />
    }
    else
    {
        <meta property="og:url" content="@ViewData["URL"]" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="@ViewData["Title"] - Dogwood Photography" />
        <meta property="og:description" content="@ViewData["Description"]" />
        <meta property="og:image" content="https://dogwood.photography/images/raleigh-durham-wedding-photography-header-1.jpg" />
    }


</head>
<body>


    @RenderBody()

    <!-- MDB JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <footer>

        <div class="container pt-5">
            <hr class="my-5" />
            <div class="row pt-1">
                <div class="col-md-3">
                    <h5>Dogwood Photography</h5>
                    <div class="footer-description">
                        <p>
                            ~ Durham, NC ~
                            <br />info@dogwood.photography
                            <br />910-216-0019
                        </p>
                    </div>
                </div>
                <div class="col-md-2">
                    <h5>We're Social!</h5>
                    <p class="social-icon-links">
                        <a target="_blank" href="https://www.facebook.com/dogwoodnc" onclick="ga('send', 'pageview', '/socialclick');"><i class="fa fa-facebook heading-c"></i></a>
                        <a target="_blank" href="https://www.flickr.com/photos/kcdale99" onclick="ga('send', 'pageview', '/socialclick');"><i class="fa fa-flickr heading-c"></i></a>
                        <a target="_blank" href="https://plus.google.com/+Dogwood-photography" onclick="ga('send', 'pageview', '/socialclick');"><i class="fa fa-google-plus heading-c"></i></a>
                        <a target="_blank" href="https://instagram.com/dale_dogwoodphotography/" onclick="ga('send', 'pageview', '/socialclick');"><i class="fa fa-instagram heading-c"></i></a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h5>Memberships</h5>
                    <a href="http://www.ppa.com" target="_blank"><img alt="Awards" src="../images/ppawps.png" title="Awards" class="img-responsive"></a>
                </div>
                <div class="col-md-3">
                    <h5>Accolades</h5>
                    <a href="http://www.weddingwire.com/biz/dogwood-photography-wilmington/248b95808c36cf9c.html" target="_blank"><img alt="Awards" src="../images/ww-awards.png" title="Awards" class="img-responsive"></a>
                </div>
            </div>


            <div class="row">

                <div class="col-sm-12">

                    <p class="copyright text-center m-b-0"><br /><span class="font-italic">Dogwood Photography does not discriminate for any reason. All couples welcome.</span><br />©2018 <a href="#">Dogwood Photography</a>, All Rights Reserved.</p>

                </div>

            </div>

        </div>


    </footer>
</body>
</html>
